{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<!--<h1 class="main-title">NA-RA-HA-MA</h1>-->
<hr/>
<link rel="stylesheet" type="text/css" href="{% static 'css/narahama_style.css' %}" />
<style type="text/css">
    .todo-form-textarea {
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section name="input-list" id="input-list">
                <div class="container">
                    <form id="form" method="POST" action="{% url 'update-status:add_todo' %}">
                        <h2>Update Status</h2>
                        <br>
                        {% csrf_token %}
                        {{ todo_form }}

                        <input id="submit" type="submit" class="btn btn-lg btn-info" value="Submit">
                        
                    </form>
                    <br>
                    
                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <section name="my-list" id="my-list" style="padding-bottom: 20px">


            {% if todo %}
                {% for data in todo %}
                    
                    <div class="container">
                        <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">  
                            <div class= "media" style="padding: 40px">
                                <div class= "media-left">
                                    <img src="https://image.ibb.co/b6xHGG/nopic1.png" class="media-object
                                    img-circle" style= "width:75px">
                                </div>
                                <div class="media-body" style="padding-left:10px">

                                    <h4 class="media-heading"><strong>{{author}}</strong> <small><i> Posted on
                                    {{data.created_date}}</i></small></h4>
                                    <p>{{data.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}
        <!--</div> -->
    
</section>
        </div>
    </div>
</div>



{% endblock %}   
