{% extends "base.html" %}
{% block content %}
<style>
        .subject{
            font-size: 20px;
            font-family: "Comic Sans MS";
            color: #6650ff;
        }
        .value{
            font-size: 20px;
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
            color: #D9094E;
        }
    
    tr:nth-child(even){background-color: #f2f2f2}


</style>

<div class="container">
<center><h1 > Add Friend</h1></center>

<section name="form", id="input-list">
    <form id="form" method="POST" action="/add-friend/add-new-friend">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
<hr/>

<table class="table">
    <thead>
        <th>Nama</th>
        <th>URL</th>
        <th>Created Date</th>
    </thead>
    <tbody>
        {% for i in friend %}
        {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
        <tr class="warning"> {% else %} <tr class="success">
            {% endif %}
            <td> {{i.name}} </td>
            <td> <a href = "{{i.url}}"> {{i.url}} </a></td>
            <td> {{i.created_date}}</td>
        </tr>             
        {% endfor %}
    </tbody>
</table>
{% endblock %}
</div>