{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'narahama_style.css' %}" />
<style>
    table, th, td {
    border: none;
    outline: none;
    width: 450px;
    font-size: 14px;
    font: "Verdana"
}
.subject{
    font-size: 14px;
    font-family: "Verdana";
    color: #000000;
}
.value{
    font-size: 14px;
    font-family: "Verdana";
    color: #000000;
}
.center_top {
    margin: auto;
    text-align: center
}
.center_screen {
    margin: auto;
    width: 400px;
}
.round{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin: auto;
    background-image: url('https://image.ibb.co/b6xHGG/nopic1.png');
}
</style>
<h5 style="text-align: left; padding: 20px">Profile</h5>
<div class="round">
    <img align="center">
</div>
<br>
<div class="center_top">
    <a><b>{{ name }}</b></a>
</div>
<br>
<div class="center_screen">
    <table>
            <tr>
                <td>Birthday</td>
                <td>{{birthday}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{gender}}</td>
            </tr>
            <tr>
                <td>Expertise</td>
                <td>{{expertise}}</td>
            </tr>
             <tr>
                <td>Description</td>
                <td>{{description}}</td>
            </tr>
             <tr>
                <td>Email</td>
                <td>{{email}}</td>
            </tr>
    </table>
</div>
<br><br>
{% endblock %}