/* CSS STYLING BAGIAN BASE START*/




/*CSS STYLING BAGIAN BASE END*/
/*======================================================================================================================*/
/* CSS STYLING BAGIAN NAVBAR START*/




/*CSS STYLING BAGIAN NAVBAR END*/
/*======================================================================================================================*/
/* CSS STYLING BAGIAN UPDATE STATUS START*/




/*CSS STYLING BAGIAN UPDATE STATUS END*/
/*======================================================================================================================*/
/* CSS STYLING BAGIAN PROFILE START*/
table, th, td {
    border: none;
    outline: none;
    width: 450px;
    font-size: 14px;
    font: "Verdana"
}
.subject{
    font-size: 14px;
    font-family: "Verdana";
    color: #000000;
}
.value{
    font-size: 14px;
    font-family: "Verdana";
    color: #000000;
}
.center_top {
    margin: auto;
    text-align: center
}
.center_screen {
    margin: auto;
    width: 400px;
}
.round{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin: auto;
    background-image: url('https://image.ibb.co/b6xHGG/nopic1.png');
}



/*CSS STYLING BAGIAN PROFILE END*/
/*======================================================================================================================*/
/* CSS STYLING BAGIAN ADD FRIEND START*/
h1{
    background-color:red;
}




/*CSS STYLING BAGIAN ADD FRIEND END*/
/*======================================================================================================================*/
/* CSS STYLING BAGIAN STATISTICS START*/




/*CSS STYLING BAGIAN STATISTICS END*/
/*======================================================================================================================*/