{% extends "base.html" %}
{% block content %}
<h1>Statistic</h1>

<div class = "stats">
<section class = "profile">
	<p class = "name"><img src = "https://image.ibb.co/b6xHGG/nopic1.png" class = "rounded-image" alt = "narahama jepege">  {{profile.name}}</p>
</section>

<section class = "friendsdanfeed">
	<P>Friends {{jumlahteman}} Post {{jumlahstatus}}</p>
</section>

<section class = "latestpost" id = "labelpost">
	<p class = "latepostlabel">Latest Post</p>
	<p class = "namakecil"> <img src = "https://image.ibb.co/b6xHGG/nopic1.png" class = "rounded-image-kecil" alt = "narahama jepege"> {{profile.name}}</p> 
	<p class = "descriptionstyle">{{statusterakhir.description}}</p> 
	<p class = "created_datestyle">Posted on {{statusterakhir.created_date}}</p>
</section>
</div>

<style>
	.stats {
		border : none;
		text-align : center;
	}
	.profile {
		font-weight : bold;
	}
	.rounded-image{
        border-radius: 100%;
        width: 180px;
        height: 180px;
    }
	.name {
		font-size : 22px;
		text-align : center;
	}
	.descriptionstyle {
		font-family : sans-serif;
		font-size : 14px;
		font-weight : bold;
	}
	.created_datestyle {
		font-size : 10px;
		font-style :oblique;
	}
	.rounded-image-kecil {
		border-radius : 100%;
		width: 40px;
		height: 40px;
	}
	.namakecil {
		font-size : 16px;
	}
	.latepostlabel {
		font-style : sans-serif;
		font-size : 18px;
	}
	#labelpost {
		border-radius: 25px;
		border: 2px solid #73AD21;
		padding: 20px; 
		background-color : white;
		width: 400px;
		height: 200px;
	}
	.latestpost {
		margin : auto;
		padding : 10px;
	}
</style>
{% endblock %}